<div id="tablo-{{ID}}" class="tablo" style="background-image: url({{Image}});" onclick="OpenTabloModal({{ID}})">
    <div>
        <p>{{Grade.Grade}}.{{Grade.Sub}}</p>
        {{#if Department}}
        <p>
            {{Department}} szak
        </p>
        {{/if}}
        <p>{{StartedAt}}-tól/től {{FinishedAt}}-ig</p>
        <p>{{Ofo}}</p>
    </div>
</div>