<div class="tablo" style="background-image: url({{Image}});">
    <div>
        <p>Évfolyam: {{grade.grade}}/{{grade.sub}}</p>
        <p>
            Szak:
            {{#if DepartmentText}}
            {{DepartmentText}}
            {{else}}
            ID-{{Department}}
            {{/if}}
        </p>
        <p>Végzett: {{FinishedAt}}-ban/ben</p>
    </div>
</div>