<li id="teacher-{{ID}}">
    <p>{{Name}}</p>
    <div class="teacher-ofo-assignments">
        {{#each OfoAssignment}}
            <div{{#if TabloID}} onclick="OpenTabloModal({{TabloID}})"{{/if}} title="Ekkor volt a(z) {{Class.Grade}}.{{Class.Sub}} osztály osztályfőnöke">
                {{From}} - {{To}}
            </div>
        {{/each}}
    </div>
</li>