<li id="teacher-{{ID}}">
    <p>{{Name}}</p>
    <div class="teacher-ofo-assignments">
        {{#each OfoAssignment}}
        {{#if TabloID}}
            <div onclick="window.HashManager.UpdateHistory('tablo_{{TabloReadableID}}');OpenTabloModal({{TabloID}})" title="Ekkor volt a(z) {{Class.Grade}}.{{Class.Sub}} osztály osztályfőnöke">
                {{From}} - {{To}}
            </div>
        {{else}}
            <div class="tablo-assigment-unavaliable" title="Ekkor volt a(z) {{Class.Grade}}.{{Class.Sub}} osztály osztályfőnöke (Tablókép nem elérhető)">
                {{From}} - {{To}}
            </div>
        {{/if}}
        {{/each}}
    </div>
</li>