<tr>
    <td style="display:none">
        {{FinishedAt}}
    </td>

    {{#if Grade.Grade}}
    <td{{#if OfficiallyVerified}} style="background-color: #2928;"{{/if}}>
        {{Grade.Grade}}
    </td>
    {{else}}
    <td style="background-color: #f008;"></td>
    {{/if}}

    {{#if Grade.Sub}}
    <td{{#if OfficiallyVerified}} style="background-color: #2928;"{{/if}}>
        {{Grade.Sub}}
    </td>
    {{else}}
    <td style="background-color: #f008;"></td>
    {{/if}}

    {{#if UnknownDepartment}}
    <td style="background-color: #f008;"></td>
    {{else}}
    {{#if Department}}
    <td{{#if OfficiallyVerified}} style="background-color: #2928;"{{/if}}>{{Department}}</td>
    {{else}}
    <td style="background-color: #f008"></td>
    {{/if}}
    {{/if}}

    {{#if Image}}
    <td>
        <a href="./img/tablos/{{Image}}" target="_blank">{{Image}} {{#if IsScanned}}{{else}}<img style="user-select:none" src="./img/check/error.png" title="This image is not scanned">{{/if}}</a>
    {{else}}
    {{#if IsCube}}
        <td>Cube
    {{else}}
    <td>
    {{/if}}
    {{/if}}
    </td>

    {{#if StudentCount}}
    <td title="Student count" style="cursor:pointer" id="students-toggler-{{ID}}" onclick="ToggleSub('students-{{ID}}', 'students-toggler-{{ID}}')">
        <img style="display:inline-block;user-select:none" src="./img/check/group.png">
        <span>{{StudentCount}}</span>
    </td>
    {{else}}
    <td style="border:none"></td>
    {{/if}}

    {{#if Ofo}}
    {{#if NoTeacher}}
    <td style="background-color: #f008;"></td>
    {{else}}
    <td{{#if OfficiallyVerified}} style="background-color: #2928;"{{/if}}>
        {{#each Ofo}}
        <span>{{this}}</span>
        {{/each}}
    </td>
    {{/if}}
    {{else}}
    <td style="background-color: #f008;"></td>
    {{/if}}

    <td>
        {{CurrentPrincipal.Name}}
    </td>

    <td>
        {{#if HasIssule}}
        <img style="cursor:pointer;user-select:none" src="./img/check/error.png" onclick="(()=>{const list=document.getElementById('issues-{{ID}}');if(list.style.display==='block')list.style.display='none';else list.style.display='block'})()">
        {{/if}}
        {{#if OfficiallyVerified}}{{else}}
        {{#if Unverified}}
        <img style="user-select:none" src="./img/check/help.png" title="Unverified source">
        {{/if}}
        {{/if}}
        <ul id="issues-{{ID}}" style="display:none">
            {{#each Issues}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </td>
</tr>